

div{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search{
    border: 2px solid mediumturquoise;
    color: mediumturquoise;
    background-color: transparent;
    padding: 5px 10px;
    width: 120px;
    border-radius: 30px;
    font-weight: bold;
}

#sum{
    background-color: aqua;
    color: white;
    border: 1px solid aqua;
    border-radius: 50%;
    width:30px;
    height: 30px;
}

#account{
    border: 2px solid black;
    padding: 10px 30px;
    background-color: cornflowerblue;
    color: white;
    box-shadow: 3px 5px black;
}

button:hover{
    cursor: pointer;
}